.custom-modal .modal-content {
    width: 80% !important;
    max-width: 800px;
    height: 400px;
    margin: auto;
    background-color: white;
    color: red !important;
  }

  .modal-dialog {
    background-color: red !important;
  }