#filter-list {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
}

#filter-list li {
    white-space: nowrap;
    margin-bottom: 30px;
    font-size: 16px;
}

.g-4 {
    margin-bottom: 50px;
}

.no-background {
    height: 250px;
    border: none;
    padding: 20px;
    justify-content: center;
}

.card-img-top {
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.card-body {
    padding: 0 20px 10px 20px;
    max-height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-body .h3 {
    margin-bottom: 0;
    color: #11271D;
}

/* POPUP FORM */

.modal-content {
    background-color: #EEF9F1;
    color: #11271D;
}

.modal-header {
    border: none;
}

.modal-body img {
    width: 100%;
    height: 80%;
}

.modal-body .nav-link {
    background-color: none;
    color: #11271D;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}

.modal-body .nav-link.active {
    background: none;
    border: none;
    text-decoration: underline;
}

.p-tag-popup {
    padding: 10px 0 0 30px;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
}

.p-tag-about-testamonials {
    padding: 0 30px 30px 30px;
}

.nav-tabs {
    border: none;
}

.modal-content .btn-close {
    padding: 10px;
}

.modal-title {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

@media screen and (min-device-width: 430px) {
    .card-img-top {
        max-height: 80%;
        max-width: 80%;
    }
}

@media screen and (min-device-width: 992px) {
    .modal-title {
        font-size: 40px;
        padding: 20px 0 0 30px;
        font-weight: bold;
        color: #11271D;
    }

    .modal-content .btn-close {
        padding: 50px;
    }

    #filter-list {
        overflow: hidden;
    }

    .row-cols-lg-4>* {
        flex: 0 0 auto;
    }
}
@media screen and (min-device-width: 1440px) { 

    .no-background {
        height: 320px;
    }
    .card-body {
        padding: 10px 20px 10px 20px;
        max-height: 20%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
