#filter-list {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
}
#filter-list li {
    white-space: nowrap;
    margin-bottom: 30px;
    font-size: 16px;
}

.card-body {
    padding: 0.5rem 0 0 0;
}

.card-body .h3 {
    margin-bottom: 0;
}

.g-4 {
    margin-bottom: 50px;
}

.no-background {
    background: none;
    border: none;
}


/* POPUP FORM */

.modal-content {
    background-color: #EEF9F1;
    color: #11271D;
}

.modal-header {
    border: none;
}

.modal-body img {
    width: 100%;
    height: 80%;
}

.modal-body .nav-link {
    background-color: none;
    color: #11271D;
}

.modal-body .nav-link:active {
    background-color: none;
}

@media screen and (min-device-width: 992px) {

    #filter-list {
        overflow: hidden;
    }

    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 32%;
    }

}
