.hero-section-contact p {
    margin: 10px 0 40px 0px;
}

.hero-section-contact {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 100px;
   

}


.wrapper-contact {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.filter-contact-mobile {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid-row-contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    margin-top: -20px;
}

.grid-row-contact p {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.wrapper-hero {
    margin-top: 200px;
}
.wrapper-hero p {
    margin-top: 20px!important;
}

.hello-contact {
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: #CBD8CE;
    color: #11271D;
    border-radius: 10px;
    justify-content: center;
    align-items: end;
    text-align: center;
    /* width: 285px; */
    height: 335px; 
    width: 100%;
    padding: 0 16px;
}

.hello-contact h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

.hello-contact p {
    align-self: flex-start;
}

.hello-contact .btn-primary {
    color: #11271D;
    margin: 30px 0 30px 0;
    
    /* font-weight: bold;
    margin: 30px 0 30px 0;
    width: 200px;
    font-size: 14px; */
}

.hidden-on-mobile {
    display: none;
}

/* ContactForm */
.hero-section-container {
    margin-top: 160px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 30px;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    margin-bottom: 150px;

}
.closeForm-btn {
    position: absolute;
    top: -60px;
    right: 0; 
    font-size: 14px;
    color: #BAB9B9;
}

.validationError {
color: #BAB9B9;
font-size: 12px;
position: absolute;
bottom: 50px;
}

.back-arrow {
position: absolute;
right: 0;
bottom: 10px;
font-size: 12px;
}

.formComponent input[type=text], 
.formComponent input[type="email"] {
border-radius: 0%;
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: solid;
border-bottom-color: #409250;
border-bottom-width: 3px;
background-color: inherit;
color: #CBD8CE;
margin-bottom: 40px;

}

.formComponent input:focus {
/* outline-color: hidden !important;
outline-style: hidden !important; */
outline-width: 4px;
  outline-style: solid;
  outline-color: #11271D;
}


/* LARGE PHONE */

@media screen and (min-device-width: 430px) {

     .hello-contact {
        max-width: 460px;
    }  
} 
/* TABLET */

@media screen and (min-device-width: 992px) {

    
    .hero-section-contact {
        gap: 80px;
    } 

    .filter-contact-mobile {
        display: none;
    }

    .hidden-on-mobile {
        display: grid;
    }

    .wrapper-hero p {
        font-size: 22px;
    }

    .hello-contact {
        width: 400px;
        height: 440px;
        margin: 100px 30px 0 30px;
        padding: 20px;
    }

    .hello-contact h2 {
        font-size: 30px;
    }

    .hello-contact .btn-primary {
        margin-top: 70px;
        margin-bottom: 30px;    
    }

    .wrapper-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        align-self: center;
        margin-bottom: 200px;
        gap: 50px;
    }

    /* ContactForm */
    .validationError {
        bottom: 70px;
       }

}


/* DESKTOP */

@media screen and (min-device-width: 1440px) {
    .filter-contact-mobile {
        display: none;
    }

    .hero-section-contact {
        gap: 100px;
        max-width: 780px;
    }

    .hidden-on-mobile {
        display: grid;
    }

    .hello-contact {
        /* width: 465px; */
        width: 100%;
    }

    .hello-contact h2 {
        font-size: 33px;
    }

    .wrapper-contact {
        gap: 100px;
    }

    /* ContactForm */
    .hero-section-container {
        gap: 100px;
        max-width: 780px;
    }
}