@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #11271D;
    color: #CBD8CE;
}

/* MOBILE FIRST */

main {
    margin: 16px;
}

p {
    font-size: 16px;
}

/* Hero section */

h1 {
    font-size: 26px;
}

/* Company name, We can offer you, Hello Contact, Journey, info  */

h2 {
    font-size: 22px;
}

/* Headline under Our vision and ambition, button text */
h3 {
    font-size: 14px;
}

/* Info journey, branch portfolio, company name cards */

h4 {
    font-size: 12px;
}


/* LARGE PHONE */

@media screen and (min-device-width: 430px) {
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 33px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
}

/* TABLET */

@media screen and (min-device-width: 1024px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 33px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 22px;
    }
    h6 {
        font-size: 18px;
    }
}


/* DESKTOP */

@media screen and (min-device-width: 1440px) {
    
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 33px;
    }
    
    h4 {
        font-size: 26px;
    }
    
    h5 {
        font-size: 22px;
    }
    
    h6 {
        font-size: 14px;
    }
    
    button {
        width: 284px;
        height: 61px;
        background-color: #409250;
        color: white;   
        border: none;
        font-size: 16px;
        border-radius: 10px;
    }
    
    .animated_text {
        color: #409250;
    }
}



