@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #CBD8CE;
}

body {
    background-color: #11271D;
}

/* MOBILE FIRST */

main {
    margin: 16px;
}

p {
    font-size: 16px;
    /* Bootstrap gives margin bottom of 1rem */
    margin-bottom: 0;
}

/* Hero section */

h1 {
    font-size: 26px;
}

/* Company name, We can offer you, Hello Contact, Journey, info  */

h2 {
    font-size: 22px;
}

/* Headline under Our vision and ambition, button text */
h3 {
    font-size: 14px;
}

/* Info journey, branch portfolio, company name cards */

h4 {
    font-size: 12px;
}

/* BUTTON */


button {
    background-color: #409250;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    width: 215px;
    height: 50px;
}

/* ANIMATED AND GREEN TEXT */

.animated-text {
    color: #409250;
    text-decoration: underline;
}

.green-text {
    color: #409250;
}


/* NO DOTS ON LISTELEMENTS*/
li {
    list-style: none;
}

/* CLASS FOR FONT-FAMILY */

.roboto-font {
    font-family: 'Roboto Mono', monospace;
}

.poppins-font {
    font-family: 'Poppins', sans-serif;
}

/* LARGE PHONE */

@media screen and (min-device-width: 430px) {

    /* Hero section */
    h1 {
        font-size: 44px;
    }

    /* Company name, We can offer you, Hello Contact, Journey, info  */
    h2 {
        font-size: 30px;
    }

    /* Headline under Our vision and ambition, button text */
    h3 {
        font-size: 28px;
    }

    /* Info journey, branch portfolio, company name cards */
    h4 {
        font-size: 18px;
    }

    /* Branch */
    h5 {
        font-size: 14px;
    }
}

/* TABLET */

@media screen and (min-device-width: 1024px) {

    /* Hero section */
    h1 {
        font-size: 50px;
    }

    /* Company name popup, We can offer you, Hello Contact, Journey, info  */
    h2 {
        font-size: 40px;
    }

    /* Headline under Our vision and ambition, button text */
    h3 {
        font-size: 33px;
    }

    /* Info journey, branch portfolio, company name cards */
    h4 {
        font-size: 30px;
    }
    /* Branch */
    h5 {
        font-size: 14px;
    }
    /* Company name in portfolio, not popup */
    h6 {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
}


/* DESKTOP */

@media screen and (min-device-width: 1440px) {
    /* Hero section */
    h1 {
        font-size: 60px;
    }
    /* Company name, We can offer you, Hello Contact, Journey, info  */
    h2 {
        font-size: 40px;
    }
    /* Headline under Our vision and ambition, button text */
    h3 {
        font-size: 33px;
    }
    /* Info journey, branch portfolio, company name cards */
    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 14px;
    }

    /* BUTTON STYLING DESKTOP */

    button {
        width: 284px;
        height: 61px;
        font-size: 16px;
    }
}