/* Storlek på logga? */

/* Don't forget to add styling for large phone and tablet, different font-size etc. */
/* Now it's a glitch on 1005 */


/* STYLING FOR DESKTOP */
@media screen and (min-device-width: 992px) {
    .navbar {
        /* Hur mycket margin?? */
        margin: 20px 16px
    }

    /* I ADDED FONT-FAMILY ROBOTO MONO */
    .navbar a {
        color: #FAFAFA;
        font-family: 'Roboto Mono';
    }

    .offcanvas_container_link {
        gap: 70px;
    }

    /* .end {
        text-align: end;
        justify-content: end;
        gap: 70px;
    } */

    .mobilemenu_icon {
        display: none;
    }

}


/* STYLING FOR TABLET AND SMALLER */
@media screen and (max-device-width: 992px) {
    .navbar {
        margin: 30px 16px
    }

/* .mobilemenu {
    background-color: inherit;
        height: 100vh;
        width: 100vw;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
    } */

    /* .mobilemenu_link {
        gap: 91px;
    } */

    .mobilemenu_icon {
        color: rgba(255, 255, 255, 0.5);
    }

    .offcanvas_container {
        width: 100vw !important;
        background-color: #11271D;
       
        
    }

    .offcanvas_header {
        margin: 20px 16px;
    }
 
    .offcanvas_container_link {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 91px;
        color: white;
    }

    .hamburger_icon span {
        /* FUNKAR INTE */
        color: white !important;
        background-color: red;

    }
}

/* STYLING FOR ALL DEVICES */
.navbar-toggler {
    border: none;
    width: 34px;
}

.active { 
color: #409250 !important;
font-weight: bold;
}

/* .navbar-dark {
    color: white !important;
} */

/* .header {
    background-color: none !important;
} */