@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

/* STYLING FOR ALL DEVICES */

.nav-link {
    color: #FAFAFA;
    font-weight: lighter;
}

.active {
    color: #409250 !important;
    font-weight: bold;
}

@media screen and (max-device-width: 992px) {
    .navbar {
        margin: 30px 16px
    }

    .nav-link {
        font-size: 18px;
    }

    .mobilemenu_icon {
        height: 34px;
        width: 32px;
    }

    .offcanvas_container {
        background-color: #11271D;
    }
    

    .offcanvas_header {
        margin: 20px 16px;
    }

    .offcanvas_container_link {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        color: white;
        text-transform: uppercase;
    }

    .offcanvas_container_link .nav-link:first-child {
        position: absolute;
        bottom: 50px;
    }

    .hamburger_icon {
        border: none;
        width: 34px;
    }

    .hamburger_icon span {
        background-color: #409250;
        color: white !important;
    }

    .btn-close {
        background-color: #409250;
        color: white !important;
    }
}

@media screen and (min-device-width: 992px) {
    .navbar {
        margin: 20px 16px;
    }

    .nav-link {
        font-size: 16px;
    }

    .offcanvas_container_link {
        gap:70px;
    }

    .mobilemenu_icon {
        display: none;
    }

}