/* .flexColumn {
    display: flex;
    flex-direction: column;
}

input, button {
    background-color: white;
    min-height: 3rem;
}

input {
    max-width: 20%;
}

label {
    color: white;
}
 */


 input {
    max-width: 20%;
}

p {
    color: white;
}

.hello {
    max-width: 30%;
}