.img-carousel {
    display: none;
}

/* THIS CREATED A MARGIN THAT MADE THE FOOTER DISAPEAR AND MADE A MARGIN ON THE RIGHT... */
/* .wrapper-carousel {
    margin: -16px;
} */

.carousel-item {
    text-align: center;
    align-items: center;
    background-color: #CBD8CE;
    width: 100vw;
    height: 400px;
}


.pElementCarousel {
    background: none;
    color: #11271D;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    padding: 16px;
}

.carousel-item h3 {
    margin-top: 30%;
    background: none;
    color: #11271D;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 500;
}

.carousel-item h4 {
    background: none;
    color: #11271D;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #11271D;
    opacity: 1;
}

.carousel-indicators,
.carousel-indicators:active {
    background: none;
}


.carousel .carousel-indicators button.active {
    background-color: #409250;
    height: 6px;
    width: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

@media screen and (min-device-width: 430px) {

    /* CAROUSEL */
    .carousel-item h3 {
        font-size: 30px;
    }

    .carousel-item h4 {
        font-size: 18px;
    }
}

/* TABLET */

@media screen and (min-device-width: 992px) {

    /* CAROUSEL */
    .wrapper-carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .carousel-item {
        width: 50vw;
    }

    .img-carousel {
        display: block;
        width: 50vw;
        height: 400px;
    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 30px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

}

/* DESKTOP */

@media screen and (min-device-width: 1440px) {


    /* CAROUSEL */

    .wrapperCarousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .carousel-item {
        width: 50vw;
    }

    .img.carousel {
        display: block;
        width: 50vw;
        height: 400px;
    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 28px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

}