/* .width100 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 60%;
    margin: auto;
} */

  .hex1 {
    /* position: relative; */
    /* top: 20px; */
    /* left: 0px; */
  }
  .hex2 {
    /* top: 80px; */
    /* left: 110px; */
  }
  .hex3 {
    /* top: 20px; */
    /* left: 220px; */
  }
  .hex4 {
    /* top: 80px; */
    /* left: 330px; */
  }

  /* .hexagon:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #409250;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hexagon {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #409250;
    position: relative;
    z-index: 1000;
}

.hexagon:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #409250;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
  .textalign {
    text-align: center;
    margin-bottom: 0 !important;
  }

  .line1 {
    border-top: 5px solid #409250;
    transform: rotate(39deg);
    margin-top: 2px;
   
  }
  .line2 {
    border-top: 5px solid #409250;
    transform: rotate(-39deg);
    position: relative;
    top: 10%;
    left: 40%;
  }
  .line3 {
    border-top: 5px solid #409250;
    transform: rotate(39deg);
    margin-top: 2px;
  } */



  .hexcomponentcontainer {
    width: 80%;
    min-height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .onehexcontainer {
    width: 120px;
  }

  .iconh1container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .iconsize {
    width: 80%;
    height: 100%;
    outline: none;
  }
  .contentdiv {
    width: 100%;
    margin-top: 10px;
  }

  .absolute {
    position: absolute;
    margin: 0 !important;
  }
  .hexdown {
    margin-top: 60px;
  }
  .aligncenter {
    text-align: center;
  }


