/* MOBILE FIRST - SMALL PHONE*/

/* CAROUSEL */

.img-carousel {
    display: none;
}

.carousel-item {
    text-align: center;
    align-items: center;
    background-color: #CBD8CE;
    width: 100%;
    height: 420px;
}

.center_carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.p_element_carousel {
    background: none;
    color: #224B3B;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    padding: 16px;
}

.carousel-item h3 {
    margin-top: 30%;
    background: none;
    color: #224B3B;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 500;
}

.carousel-item h4 {
    background: none;
    color: #224B3B;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: bold;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #224B3B;
    opacity: 1;
}

.carousel-indicators,
.carousel-indicators:active {
    background: none;
}


.carousel .carousel-indicators button.active {
    background-color: #1CBA89;
    height: 6px;
    width: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

/* INVESTMENTS NUMBERS */

.extra-big-font {
    color: #1CBA89;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.03em;
    text-shadow: 0px 4px 20px rgba(238, 249, 241, 0.12);
}

.green-border-numbers {
    color: #409250;
}

.green-border-numbers div {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-icon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 5px;
}

.numbers-icon .bootstrap-icon {
    margin-left: 0.2rem;
}


/* ANIMATION? */

.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    background-color: #1CBA89;
    filter: drop-shadow(0px 4px 15px rgba(238, 249, 241, 0.1));
}

/* QUOTE AND WE OFFER YOU */

.wrapper-quote {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


#quote-tag {
    display: flex;
    margin: auto;
    font-size: 100px;
    color: #1CBA89;
    filter: drop-shadow(0px 4px 15px rgba(238, 249, 241, 0.1));
}

.quote {
    margin: 16px 0;
    line-height: 20px;
}


.wrapper-offer-you {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    padding: 50px 0px 50px 0;
    font-family: 'Poppins', sans-serif;
    /* text-align: left; */
    justify-content: center;
    align-items: center;
}

.wrapper-offer-you h2 {
    justify-self: center;
    max-width: fit-content;
}

.wrapper-offer-you p {
    margin-top: 20px;
}

.wrapper-offer-you .bootstrap-icon {
    margin-right: 0.8rem;
}

.sm-text {
    font-size: 12;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.right-align {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
}

#title {
    font-size: 16px;
    font-weight: 200;
}

/* INTEREST */

.wrapper-interest {
    max-width: 100%;
}


.button-contact {
    display: flex;
    padding: 10px 0 0 0;
}

.grid-two {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

/* CONTACT SECTION */

#contact-section {
    position: relative;
    margin-bottom: 16px;
}

#arrow-svg {
    position: absolute;
    right: 15%;
    top: 70%;
    transform: rotate(-15deg);
}


/* LARGE PHONE */

@media screen and (min-device-width: 430px) {

    /* CAROUSEL */

    .carousel-item,
    .img-carousel {
        height: 450px;
    }

    .carousel-item h3 {
        font-size: 30px;
        margin-top: 20%;
    }

    .carousel-item h4 {
        font-size: 18px;
    }

    /* INVESTMENTS NUMBERS */

    .extra-big-font {
        font-size: 47px;
    }

    #quote-tag {
        font-size: 130px;
    }

    .wrapper-offer-you h2 {
        max-width: 100%;
    }

    .green-border-numbers {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 80px;
        padding: 20px 0;
        width: 70%;
        justify-content: center;
        align-items: center;
    }

    #arrow-svg {
        position: absolute;
        right: 20%;
        top: 70%;
        transform: rotate(-15deg);
    }
}

@media screen and (min-device-width: 519px) {

    #arrow-svg {
        display: none;
    }
}

@media screen and (min-device-width: 900px) {
    .carousel-item h3 {

        margin-top: 15%;
    }
}

/* TABLET */

@media screen and (min-device-width: 992px) {

    /* CAROUSEL */
    .wrapper-carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img-carousel {
        display: block;
        width: 100%;

    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 30px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

    /* INVESTMENTS NUMBERS */

    .numbers-icon {
        align-items: baseline;
    }

    .extra-big-font {
        display: flex;
    }

    .green-border-numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .green-border-numbers div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .green-border-numbers {
        padding: 50px;
    }

    #quote-tag {
        font-size: 100px;
        margin-top: 50px;
    }

    .wrapper-offer-you {
        width: 70%;
        padding: 60px 5px 60px 5px;
    }

    .wrapper-offer-you p {
        margin-top: 20px;
    }

    /* INTEREST */

    .wrapper-interest {
        max-width: 100%;
    }

    .wrapper-interest h2 {
        font-size: 30px;
    }

    .grid-two {
        grid-template-rows: 1fr;
        grid-template-columns: 1.5fr 1fr;
        justify-content: center;
    }

    .grid-two .button-contact {
        justify-content: start;
    }

    .wrapper-interest {
        grid-template-columns: 1fr
    }

    .interest-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    #contact-section {
        margin-bottom: 0;
    }

    #arrow-svg {
        display: block;
        position: absolute;
        right: 0;
        top: 85%;
        transform: scaleX(-1) rotate(0deg) scale(1.2);
    }

    .green-border-numbers {
        width: 100%;
        margin-bottom: 200px;
    }
}


/* DESKTOP */

@media screen and (min-device-width: 1320px) {
    .align-center {
        margin-left: 100px;
    }

    .wrapper-interest {
        grid-template-columns: 1fr
    }

    .interest-div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

}

@media screen and (min-device-width: 1440px) {

    #align-row {
        display: flex;
        flex-direction: row-reverse;
    }

    /* CAROUSEL */

    .wrapper-carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .img-carousel {
        display: block;
        width: 100%;

    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 28px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

    /* INVESTMENTS NUMBERS */

    .extra-big-font {
        font-size: 52px;
    }

    .green-border-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    .green-border-numbers {
        padding: 60px;
    }

    /* WE CAN OFFER YOU */

    .wrapper-offer-you {
        padding: 40px;
        margin: 0 0px 80px 100px;
    }


    .wrapper-offer-you .green-border {
        padding: 50px;
    }

    .wrapper-offer-you h2 {
        margin-bottom: 40px;
    }

    .bigger-p {
        font-size: 18px;
    }

    .h5 {
        font-size: 18px;
    }

    /* QUOTE */

    #quote-tag {
        font-size: 100px;
    }

    #quote {
        padding-bottom: 20px;
    }

    .wrapper-offer-you {
        width: 50%;
        padding: 40px 5px 40px 5px;
    }

    .wrapper-offer-you p {
        margin-top: 0;
    }

    .wrapper-quote {
        width: 50%;
    }

    .align-center {
        margin-left: 120px;
    }
}