/* MOBILE FIRST - SMALL PHONE*/

/* CAROUSEL */

.img-carousel {
    display: none;
}

.carousel-item {
    text-align: center;
    align-items: center;
    background-color: #CBD8CE;
    width: 100vw;
    height: 400px;
}


.p_element_carousel {
    background: none;
    color: #11271D;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    padding: 16px;
}

.carousel-item h3 {
    margin-top: 30%;
    background: none;
    color: #11271D;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 500;
}

.carousel-item h4 {
    background: none;
    color: #11271D;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #11271D;
    opacity: 1;
}

.carousel-indicators,
.carousel-indicators:active {
    background: none;
}


.carousel .carousel-indicators button.active {
    background-color: #409250;
    height: 6px;
    width: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.wrapper-offer-you { 
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    font-family: 'Poppins', sans-serif;
    padding: 40px 5px 40px 5px;
    text-align: left;
    justify-content: center;
    align-items: center;
    }
.wrapper-offer-you .bootstrap-icon {
    margin-right: 0.8rem;
}

#quote-tag {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 100px;
    text-align: center;
    color: #409250;
    filter: drop-shadow(0px 4px 15px rgba(238, 249, 241, 0.1));
}

#quote {
    margin: 1rem 0;
    font-family: 'Poppins', sans-serif;
}


.sm-text {
    font-size: 12;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.right-align {
    text-align: right;
    font-family: 'Poppins', sans-serif;
}

/* INVESTMENTS NUMBERS */

.extra-big-font {
    color: #409250;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.03em;
    text-shadow: 0px 4px 20px rgba(238, 249, 241, 0.12);
}

.green-border {
    border: 3px solid #409250;
    filter: drop-shadow(0px 4px 15px rgba(238, 249, 241, 0.1));
    border-radius: 20px;
}

.green-border-numbers {
    color: #409250;
}

.green-border-numbers div {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbers-icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.numbers-icon .bootstrap-icon {
    margin-left: 0.2rem;
}


/* ANIMATION? */

.underline-animation {
    display: inline-block;
    position: relative;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    background-color: #409250;
    filter: drop-shadow(0px 4px 15px rgba(238, 249, 241, 0.1));
}

/* Doesn't get the correct font? is imported in global.css */
#quote-tag {
    font-family: 'Port Lligat Slab', serif;
    font-size: 100px;
    text-align: center;
}

#quote {
    margin: 1rem 0;
}

/* LARGE PHONE */

@media screen and (min-device-width: 430px) {

    /* CAROUSEL */
    .carousel-item h3 {
        font-size: 30px;
    }

    .carousel-item h4 {
        font-size: 18px;
    }

    /* INVESTMENTS NUMBERS */

    .extra-big-font {
        font-size: 47px;
    }

    #quote-tag {
        font-size: 130px;
    }
}

/* TABLET */

@media screen and (min-device-width: 1024px) {

    /* CAROUSEL */
    .wrapper-carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .carousel-item {
        width: 50vw;
    }

    .img-carousel {
        display: block;
        width: 50vw;
        height: 400px;
    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 30px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

    /* INVESTMENTS NUMBERS */

    .extra-big-font {
        display: flex;
    }

    .green-border-numbers {
        flex-direction: row;
        justify-content: space-between;
    }

    .green-border-numbers div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .green-border-numbers {
        padding: 80px;
    }

    /* WE CAN OFFER YOU */
/* 
    .arrow-list-items {
        font-size: 20px;
    } */

    #quote-tag {
        font-size: 100px;
    }
}

/* DESKTOP */

@media screen and (min-device-width: 1440px) {

    #align-row {
        display: flex;
        flex-direction: row-reverse;
    }

    /* -------------- */
    /* -------------------NEEDS CHANGE HERE */
    /* -------------- */
    #align-row div {
        width: 50%;
    }

    /* CAROUSEL */

    .wrapper-carousel {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .carousel-item {
        width: 50vw;
    }

    .img-carousel {
        display: block;
        width: 50vw;
        height: 400px;
    }

    .carousel-item h3 {
        margin-top: 20%;
        font-size: 28px;
    }

    .carousel-item h4 {
        font-size: 16px;
    }

    /* INVESTMENTS NUMBERS */

    .extra-big-font {
        font-size: 52px;
    }

    .green-border-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
    }

    .green-border-numbers {
        padding: 80px;
    }

    /* WE CAN OFFER YOU */

    .wrapper-offer-you { 
        padding: 50px;
        }

        .bigger-p {
            font-size: 18px;
        }

        .h5 {
            font-size: 18px;
        }

        #quote-tag {
            font-size: 200px;
        }
    
/* 
    .arrow-list-items {
        font-size: 20px;
    } */
}